
div{
    text-align: center;
}


.image1{
    height: 500px;
    width: 500px;
    border: 1px solid black;
    border-radius: 1px;
}

button{

    border: none;
    padding: 15px;
    background-color: rgb(26, 27, 27);
    cursor: pointer;
    border-radius: 50px;
    width: 100px;
    color: white;
    text-align: center;
    

}

button:hover{

    background-color: rgb(75, 72, 72);
}